<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Django App {% endblock %}</title>
    <script src="{% static 'js/main.js'%}" defer></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="{% url 'posts:list' %}">Posts</a>
      <a href="{% url 'users:register' %}">
        <span aria-label="User Registration">Register</span>
      </a>
      <a href="{% url 'users:login' %}">
        <span aria-label="User Login">Login</span>
      </a>
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
